<h1>Sign Up Form</h1>

<% if(typeof errors !== 'undefined') { %>
<ul>
	<% errors.forEach(function(err) { %>
		<li><%= err %></li>
	<%	}) %>
</ul>
<% } %>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password" id="password">
    <button>Submit</button>
</form>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/owasp.js"></script>
<script>
	$('#password').on('input', function(event) {
		var password = document.getElementById('password').value;
		var result = owaspPasswordStrengthTest.test(password);
		if(result.errors) {
			result.errors.forEach(function(err) {
				console.log(err);
			});
		}
	});
</script>